<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ViewProductCalMapper" >
  <resultMap id="BaseResultMap" type="com.model.ViewProductCal" >
    <constructor >
      <arg column="pId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pBrand" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pFrom" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pSupplier" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pYear" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_priceCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="actual_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="profit_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sale_totalQty" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rest_qty" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    pId, pName, pType, pBrand, pFrom,pSupplier, pYear, unit_priceCode, actual_price, profit_price, sale_totalQty, rest_qty
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from view_product_cal
    where pId = #{pId,jdbcType=VARCHAR}
  </select>


  <select id="selectAll" resultType="com.model.ViewProductCal" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from view_product_cal
  </select>

  <select id="selectAllByFrom" resultType="com.model.ViewProductCal" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from view_product_cal
    where pFrom = #{pFrom,jdbcType=INTEGER}
  </select>


</mapper>