<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ViewBillDayMapper" >
  <resultMap id="BaseResultMap" type="com.model.ViewBillDay" >
    <constructor >
      <arg column="bId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sale_qty" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_profit" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pBrand" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pSupplier" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pYear" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pFromName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_priceCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="actual_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    bId, sale_qty, total_price, total_profit, pId, pName, pType, pBrand, pSupplier, pYear, pFromName, unit_priceCode, actual_price
  </sql>

  <select id="selectByPrimaryKey" resultType="com.model.ViewBillDay" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from view_bill_day
    where bId = #{bId,jdbcType=VARCHAR}
  </select>


</mapper>