<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ViewBillSumMapper" >
  <resultMap id="BaseResultMap" type="com.model.ViewBillSum" >
    <constructor >
      <arg column="bId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="profit" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="saleQty" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    bId, price,profit, saleQty, create_time
  </sql>

  <select id="selectByTime" resultType="com.model.ViewBillSum">
    select
    <include refid="Base_Column_List" />
    from view_bill_sum
    where create_time = #{create_time,jdbcType=DATE}
  </select>

  <select id="selectByMonth" resultType="com.model.MonthBill">
    select
    year(create_time) as yearNum,
    month(create_time) as monthNum,
    sum(profit) as totalProfit
    from view_bill_sum
    where year(create_time) = #{0}
    group by year(create_time),month(create_time)
  </select>

  <select id="selectAll" parameterType="java.lang.String" resultType="com.model.ViewBillSum">
    select
    <include refid="Base_Column_List" />
    from view_bill_sum
    ORDER BY create_time DESC
  </select>


</mapper>